<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [3]:
%%time
df = pd.read_feather('/tmp/ssh_mount/rt_trips/020819_postassessquality_withNaNs_withLASTUPDATE.feather')

CPU times: user 130 ms, sys: 85.1 ms, total: 215 ms
Wall time: 260 ms

In [4]:
df.head()

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,LASTUPDATE
0,2018-02-07,6253783,68,68_80,1,87245,84600,87524.0,84600.0,2018-02-28 12:05:11
1,2018-02-07,6262138,25B,25B_271,2,30517,26460,32752.0,NaN,2018-02-28 12:05:11
2,2018-02-07,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0,2018-02-28 12:05:11
3,2018-02-07,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0,2018-02-28 12:05:11
4,2018-02-07,6253175,14,14_15,1,85383,81600,84682.0,81608.0,2018-02-28 12:05:11

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2182637 entries, 0 to 2182636
Data columns (total 10 columns):
DAYOFSERVICE       datetime64[ns]
TRIPID             category
LINEID             category
ROUTEID            category
DIRECTION          category
PLANNEDTIME_ARR    int32
PLANNEDTIME_DEP    int32
ACTUALTIME_ARR     float32
ACTUALTIME_DEP     float32
LASTUPDATE         datetime64[ns]
dtypes: category(4), datetime64[ns](2), float32(2), int32(2)
memory usage: 110.4 MB

In [2]:
%%time

df2 = pd.read_feather\
('/tmp/ssh_mount/leavetimes_trimmed.feather')

CPU times: user 2.88 s, sys: 2.13 s, total: 5.01 s
Wall time: 2min 12s

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116949113 entries, 0 to 116949112
Data columns (total 9 columns):
DAYOFSERVICE       datetime64[ns]
TRIPID             category
PROGRNUMBER        category
STOPPOINTID        category
PLANNEDTIME_ARR    int32
PLANNEDTIME_DEP    int32
ACTUALTIME_ARR     int32
ACTUALTIME_DEP     int32
VEHICLEID          category
dtypes: category(4), datetime64[ns](1), int32(4)
memory usage: 3.6 GB

In [2]:
%%time

path = '/tmp/ssh_mount/rt_leavetimes_DB_2018.txt'

dtypes={
    'TRIPID':'category',
    'PROGRNUMBER':'category',
    'STOPPOINTID':'int32',
    'PLANNEDTIME_ARR':'int32',
    'PLANNEDTIME_DEP':'int32',
    'ACTUALTIME_ARR':'int32',
    'ACTUALTIME_DEP':'int32',
    'VEHICLEID':'category'
}

chunks = pd.read_csv(path, chunksize=1000000, sep=';', parse_dates=['DAYOFSERVICE','LASTUPDATE'])

CPU times: user 5.1 ms, sys: 3.59 ms, total: 8.69 ms
Wall time: 48 ms

In [ ]:
%%time

df = pd.concat(chunks)

CPU times: user 5h 45min 11s, sys: 2min 20s, total: 5h 47min 31s
Wall time: 6h 24min 49s